/* Imports */
@import "../../node_modules/font-awesome/css/font-awesome.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Imports */

/* Custom styling */
body {
    /* Responsive font size */
    @screen sm {
        font-size: 0.85rem;
    }
    @screen md {
        font-size: 1rem;
    }
    @screen lg {
        font-size: 1.2rem;
    }
    @screen xl {
        font-size: 1.4rem;
    }
}
/* Custom styling */

/* Home page */
#myCanvas {
    background-color: rgb(34, 34, 34);
    position: absolute;
    z-index: -1;
}

.button {
    color: #fe7833;
    border-color: #fe7833;
}

.button:hover {
    background-color: #fe7833;
}

.hover\:show-down:hover .fa-arrow-right {
    display: none;
}

.hover\:show-down:hover .fa-arrow-down {
    display: inline-block;
}

.hover\:show-down .fa-arrow-down {
    display: none;
}

.hover\:show-down {
    transition: all 0.5s ease-out;
}

.highlight {
    color: #fe7833;
}

.slogan {
    font-family: "Curlz MT", serif;
    font-size: 1.2rem;
}
/* Home page */

/* Navbar */
.nav-item-focused {
    color: #fe7833 !important;
    transition: color 0.3s ease-in !important;
}

.navbar {
    border-bottom: solid 0.25rem #80c44c;
}

#navbar-links {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Mobile nav animation */
@keyframes collapse {
    0% {
        min-height: 0;
        opacity: 0;
    }

    100% {
        min-height: 15.8rem;
        opacity: 1;
    }
}

@keyframes navItemsCollapse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#navbar-links:not(.hidden) {
    animation: collapse 0.3s forwards;
}

#navbar-links .nav-item {
    animation: navItemsCollapse 1.5s forwards;
}
/* Navbar */

/* About page */
.about-me-special-card{
    background-color: #fe7833;
    color: #ebebe9;

}

.about-me-card{
    background-color: #35383d;
    color: #ebebe9;
}

.image-container {
    position: absolute;
    overflow: hidden;
    width: 20rem;
    height: 20rem;
    margin: auto;
    perspective: 100rem;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.image-container .back-image {
    transform: rotateY(180deg);
}

.image-container:hover .front-image {
    transform: rotateY(180deg);
}

.image-container:hover .back-image {
    transform: rotateY(0deg);
}

.animate-right {
    transform: translate(0, 0);
    transition: opacity 0.5s, transform 0.5s;
}
/* About page */

/* Skills page */
.carousel {
    overflow: hidden;
    scroll-behavior: smooth;
}

.carousel-inner {
    display: flex;
    transition: transform 0.8s ease;
}

.carousel-content {
    display: flex;
    flex-direction: row;

}

.carousel-item {
    flex: 0 0 auto;
}

.slide-arrow {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slide-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/* Skills page */
