/* Imports */
@import "../../node_modules/font-awesome/css/font-awesome.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Imports */

/* Custom styling */
html {
    scroll-behavior: smooth;
}


body {
    /* Responsive font size */
    @screen sm {
        font-size: 1rem;
    }
    @screen md {
        font-size: 1.6rem;
    }
    @screen lg {
        font-size: 1.8rem;
    }
    @screen xl {
        font-size: 2rem;
    }
}

/* Home page background */
#myCanvas {
    background-color: rgb(34, 34, 34);
    position: absolute;
    z-index: -1;
}
/* Home page background */

/* View my work button */
.button {
    color: #e31b6d;
    border-color: #e31b6d;
}

.button:hover {
    background-color: #e31b6d;
}

.hover\:show-down:hover .fa-arrow-right {
    display: none;
}

.hover\:show-down:hover .fa-arrow-down {
    display: inline-block;
}

.hover\:show-down .fa-arrow-down {
    display: none;
}

.hover\:show-down {
    transition: all 0.5s ease-out;
}
/* View my work button */

.highlight {
    color: #e31b6d;
}

.slogan {
    font-family: "Curlz MT", serif;
    font-size: 1.2rem;
}
